.footer{
	margin-top: 50px;
	background-color: #4B4B4D;
	color: white;	
}

.footer a:link {
    color: white;
	text-decoration:none;     
}

/* visited link */
.footer a:visited {
    color: white;
}

/* mouse over link */
.footer a:hover {
    color: white;
}

/* selected link */
.footer a:active {
    color: white;
}